langgraph
langchain-core
langchain-community 
tavily-python
langchain-chroma
requests
bs4
sentence-transformers
langchain-huggingface
langgraph-cli
langgraph-api
neo4j 
langchain_google_genai
langchain-groq